.parrafo-productos{
    @extend .parrafo-trabaja
}
.accordion-h2{
    text-align: center;
    margin: 60px;
    color: #edba8f;
}
.accordion-button{
    background-color: rgb(72, 71, 71);
}
.accordion-button:not(.collapsed){
    color: black;
    background-color: #d8b497;
}
.accordion{
    width: 1000px;
    margin: auto;
    text-align: center;
}
.accordion p{
    color: white;
}
.card-body{
    background-color: #edba8f;
    display: flex;
    justify-content: center;
}
.card-text{
    color: black;
    text-align: center;
}
.card{
    display: inline-block;
    margin: 75px;
}
.card img{
    height: 389.03px;
}
